<h2>Por región</h2>
<hr>
<div class="row">
  <div class="col">
    <button type="button" class="btn btn-light text-center mx-2" *ngFor="let region of regions"
      (click)="searchByRegion(region)" [ngClass]="{'btn-outline-primary':selectedRegion === region}">{{region}}</button>
  </div>
</div>
<div class="row">
  <div class="col">
    <hr>
    <shared-loading-spinner *ngIf="isLoading" [title]="title"></shared-loading-spinner>
    <countries-table [countries]="countries"></countries-table>
  </div>
</div>